body {
  background: #242582;
  background: url("https://i.ytimg.com/vi/hRQkDYJYfww/maxresdefault.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
  margin-top: 2em;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 5px whitesmoke;
  background: lightblue;
}
