<div class="container">
  <ul>
  <li>$hero.getName()</li>
   <li>$hero.getAge()</li>
    <li>$hero.getPower()</li>
     <li>$hero.getWeakness()</li>
      <li>$hero.getDefense()</li>
       <li>$hero.getDistanceAttack()</li>
  </ul>
</div>