<div class="container">
  <h1>Hero list</h1>
    #if ($heroes)
    <ul>
    #foreach ($hero in $heroes)
      <li><a href="/heroes/$hero.getId()" class="btn btn-outline-dark">$hero.getName()</a></li>
    #end
    </ul>
    #else
    <a href="/heroes/new">Add new hero</a>
    #end
</div>