<div class="container">
  <h1>Welcome to the Hero Squad Application</h1>

  <a href="/herosquads/new" class="btn btn-outline-dark">Add a new Squad</a>
  <a href="/herosquads" class="btn btn-outline-dark">View all current Squads</a>
</div>